html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img{
    height: 30%;
    width: 30%;
}

.container{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.esquerda{
    background-color: yellow;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direita{
    background-color: pink;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao{
    display: block;
    margin-bottom: 10px;
    height: 80px;
    width: 300px;
    border-radius: 20px;
    margin: 20px;
}