

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <div class="containerMain">
      <div class="divEsquerda">
        <img src="../../assets/img/smiide.png" alt="">
      </div>
      <div class="divDireita">
        <div class="botoesGroup">
          <button class="botoesMenu">
            <span class="labelBotao">
              Jogar
            </span>
          </button>
          <button class="botoesMenu">
            <span class="labelBotao">
              Configurações
            </span>
          </button>
          <button class="botoesMenu">
            <span class="labelBotao">
              Extras
            </span>
          </button>
        </div>
      </div>
    </div>
  </main>
</body>
</html>